<form [formGroup]="usuarioForm" (submit)="onSubmit()">
    <p>
        <mat-form-field appearance="legacy">
            <input formControlName="nombre" matInput placeholder="Nombre*">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input formControlName="apellido" matInput placeholder="Apellido*">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input formControlName="identificacion" matInput placeholder="Identificación*">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input formControlName="numeroCelular" matInput placeholder="Número Celular*">
        </mat-form-field>
    </p>
    <div>
        <button mat-raised-button color="warn" (click)="limpiarForm()">Limpiar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="usuarioForm.invalid">Aceptar</button>
    </div>
</form>

