.card{
    height: 200px;
    background-color: lightgray;
    box-shadow: 0px 5px 10px 1px;
}

.header__titulo{
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.header__body{
    font-size: 20px;
}