.product-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;

  .product-container__book-info {
    width: 98%;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;

    .book-info__cover {
      width: 100%;
      box-shadow: 0px 1px 10px black;
    }

    .book-info__data {
      width: 40%;

      .book-data__title {
        font-size: 28px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
      }

      .book-data__author {
        font-size: 40px;
        font-family: "Courier New", Courier, monospace;
        opacity: 50%;
      }

      .book-data__starts{
        font-size: 35px;
        color: goldenrod;
      }

      .book-data__summary-title {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

      }

      .book-data__summary {
        text-transform: initial;

        .summary__visible--text {
          font-family: 'Work Sans', sans-serif;
          font-weight: bold;
          color: rgb(98, 97, 97);
          line-height: 1.5;

        }

        .summary__hidden--text {
          max-height: 100%;
          font-family: 'Work Sans', sans-serif;
          font-weight: bold;
          color: rgb(98, 97, 97);
          line-height: 1.5;
        }

        .summary__toggle-text {
          color: deeppink;
        }
      }
    }

    .product-container__buy-section {
      display: block;
      margin-top: 30px;

      .buy-section__seller {
        font-size: 20px;

        .seller__name {
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .buy-section__total-price {
        font-size: 35px;
        font-weight: bold;
        margin-left: 20px;
      }

      .buy-section__shipping-cost {
        font-size: 20px;
        margin-left: 20px;

        .shipping-cost__value {
          font-weight: bold;
        }
      }

      .buy-section__btn {
        font-size: 20px;
        width: 50%;
        background-color: deeppink;
        border: none;
        margin-left: 20px;
      }
    }
  }
}
