.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card-compra {
  max-width: 600px;
  z-index: 2;

  .card-title {
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    text-decoration: none;
  }

  .favorite-marked {
    color: #f44336;
  }

  .card-author {
    font-size: 18px;
    font-family: cursive;
    display: flex;
    justify-content: flex-end;
  }

  .precio {
    font-size: 18px;
    font-family: cursive;
  }

  .rating {
    font-size: 18px;
    font-family: cursive;
  }

  .cantidad {
    font-size: 18px;
    font-family: cursive;
  }

  .precio-total {
    font-size: 22px;
    font-family: cursive;
  }

  .card-actions {
    display: flex;
    justify-content: center;

    .button-comprar {
      display: block;
      font-size: 20px;
      font-family: cursive;
      font-weight: lighter;
      text-align: center;
      text-decoration: none;
      background: #f3deba;
      width: 150px;
      border: 2px solid;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    .button-comprar:hover {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #bbd6b8;
      box-shadow: 2px 2px 1px;
    }
  }
}
