<app-main-layout></app-main-layout>
<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title class="card__titulo">Lista De Productos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-describedby="tabla de productos"
    >
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef>Titulo</th>
        <td mat-cell *matCellDef="let producto">
          {{ producto.bookDto.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Autor">
        <th mat-header-cell *matHeaderCellDef>Autor</th>
        <td mat-cell *matCellDef="let producto">
          {{ producto.bookDto.author }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Calificación">
        <th mat-header-cell *matHeaderCellDef>Calificación</th>
        <td mat-cell *matCellDef="let producto">
          {{ producto.ratingDto.starts }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let producto">
          <mat-select [(value)]="producto.selectedNumber">
            <mat-option *ngFor="let number of numbers" [value]="number">
              {{ number }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef>Precio por unidad</th>
        <td mat-cell *matCellDef="let producto">
          {{ producto.bookDto.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Comprar">
        <th mat-header-cell *matHeaderCellDef>Comprar</th>
        <td mat-cell *matCellDef="let producto; let i = index">
          <button
            [id]="'eliminarButton-' + i"
            mat-icon-button
            color="primary"
            (click)="onCompraButtonClick(producto.bookDto.id, producto.selectedNumber)"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="Puerto BookDto">
        <th mat-header-cell *matHeaderCellDef>Puerto Book Api</th>
        <td mat-cell *matCellDef="let producto"> {{producto.bookDto.port}} </td>
      </ng-container>

      <ng-container matColumnDef="Puerto RatingDto">
        <th mat-header-cell *matHeaderCellDef>Puerto Rating Api</th>
        <td mat-cell *matCellDef="let producto"> {{producto.ratingDto.port}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>

    <mat-paginator
      class="mat-elevation-z8"
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
