<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title class="card__titulo">Lista De Usuarios</mat-card-title>
    <section class="card__button">
      <button id="agregarUsuario" mat-raised-button color="warn" class="card__add-button card__add-button--hover"
        (click)="crear('crear')">Agregar Usuario</button>
    </section>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="tabla de usuarios">

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let i = index;">{{i+1}}</td>
      </ng-container>

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="Identificacion">
        <th mat-header-cell *matHeaderCellDef> Identificación </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.identificacion}} </td>
      </ng-container>

      <ng-container matColumnDef="Numero de celular">
        <th mat-header-cell *matHeaderCellDef> Número de celular </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.numeroCelular}} </td>
      </ng-container>

      <ng-container matColumnDef="Mascotas">
        <th mat-header-cell *matHeaderCellDef>Mascotas</th>
        <td mat-cell *matCellDef="let usuario; let i = index">
          <button [id]="'botonMascota-'+i" mat-icon-button
            [routerLink]="['/mascota/', usuario.nombre, usuario.apellido , usuario.id]">
            <mat-icon>pets</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let usuario; let i = index">
          <button [id]="'botonEditar-'+i" mat-icon-button color="primary" (click)="editar(usuario.id)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Borrar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let usuario; let i = index">
          <button [id]="'eliminarButton-'+i" mat-icon-button color="accent" (click)="delete(usuario)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>

    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </mat-card-content>

</mat-card>

<router-outlet></router-outlet>