.container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    margin-top: 20px;
}

table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}
