<mat-card-title>{{titulo}}</mat-card-title>
<form [formGroup]="mascotaForm" (submit)="onSubmit()">
    <p>
        <mat-form-field appearance="legacy">
            <input id="nombre" formControlName="nombre" matInput placeholder="Nombre*">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input id="raza" formControlName="raza" matbotonConfirmarGuardarInput placeholder="Raza*">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input id="peso" formControlName="peso" matInput placeholder="Peso*">
        </mat-form-field>
    </p>

    <div>
        <button mat-raised-button color="warn" (click)="limpiarForm()">Limpiar</button>

        <button id="botonConfirmarGuardar" mat-raised-button color="primary" type="submit"
            [disabled]="mascotaForm.invalid" (click)="onCrearClick()"
            *ngIf="id=='crear' else buttonEdit">Guardar</button>

        <ng-template #buttonEdit>
            <button id="botonConfirmarEditar" mat-raised-button color="primary" type="submit"
                [disabled]="mascotaForm.invalid" (click)="onEditarClick()">Editar</button>
        </ng-template>
    </div>
</form>