.login {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . login_title login_title login_title . . . . . . ."
    ". . . . . login_form login_form login_form . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . .";
  justify-items: stretch;

  .login__title {
    grid-area: login_title;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login__form {
    grid-area: login_form;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "login__input--username"
      "."
      "login__input--password"
      "."
      "login__button";
    justify-items: stretch;
    

    .login__input--username {
      grid-area: login__input--username;
      text-align: center;
    }

    .login__input--password {
      grid-area: login__input--password;
      text-align: center;
    }

    .login__button {
      grid-area: login__button;
    }

    .login__button:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }
  }
}
