@font-face {
  font-family: "dacingScript";
  src: url("../../../shared/fonts/DancingScript-VariableFont_wght.ttf");
}

.login-container{
  background-image: url('../../../../assets/img/login/books.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card{
  height: 400px;
  width: 400px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #000;
}

.login__title{
  color: white;
  font-size: 40px;
  font-family: 'dacingScript';
  display: flex;
  justify-content: center;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  font-size: 20px;
}

button{
  font-size: 20px;
  width: 50%;
  align-self: center;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

button:hover{
  background-color: rgb(230, 159, 35);
}


::ng-deep .mat-form-field-label,
::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple,
::ng-deep .mat-input-element,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
  border-color: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white !important;
  border-color: white !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white !important;
  border-color: white !important;
}

::ng-deep .mat-icon {
  color: white !important;
}

