
<div class="login">
    <h2 class="login__title">Iniciar sesión</h2>
    <form class="login__form" [formGroup]="loginForm" (submit)="onSubmit()">
        <input class="login__input login__input--username" type="text" id="username" formControlName="username" placeholder="Username" required>
        <input class="login__input login__input--password" type="password" id="password" formControlName="password" placeholder="Password" required>
      <button id="buttonLogin" class="login__button" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
  </div>
