.contendor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.factura{
    display: grid;
    justify-items: center;
    width: 100%;
    height: 100%;

    &__titulo{
        font-size: 35px;
        font-family: serif;
    }

    &__nombre{
        display: grid;
        font-size: 30px !important;
        justify-content: center;
    }
    p{
        font-size: 25px;
        font-family: serif;
    }

}