<div class="contenedor" *ngIf="factura">
    <mat-card class="factura">
        <mat-card-header>
            <mat-card-title class="factura__titulo">
                Factura De Cobro
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="factura__nombre">{{factura.nombreMascota}}</p>
            <p class="factura__ingreso"> <strong>Ingreso:</strong> {{factura.fechaIngreso}}</p>
            <p class="factura__salida"> <strong>Salida:</strong> {{factura.fechaSalida}}</p>
            <p class="factura__tiempo"><strong>Total Tiempo:</strong> {{factura.totalTiempoEnGuarderia}}</p>
            <p class="factura__pagar"> <strong>Total a pagar:</strong> ${{factura.precioAPagar}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
            <button id="botonConfirmarFactura" mat-flat-button color="primary" (click)="cobrar()">Cobrar</button>
        </mat-card-actions>
    </mat-card>
</div>